<span ng-show="item.transport_industrial">
     Transport and industrial accident
   <br />
</span>
<span ng-show="item.extreme_weather">
     Extreme weather
   <br />
</span>
<span ng-show="item.fire">
     Fire
   <br />
</span>
<span ng-show="item.mass_gathering">
     Mass Gathering
   <br />
</span>
<span ng-show="item.explosive">
     Explosive
   <br />
</span>
<span ng-show="item.industrial_accident">
     Industrial accident
   <br />
</span>
<span ng-show="item.nuclear_radiological">
     Nuclear or radiological incident
   <br />
</span>
<span ng-show="item.biological">
     Biological
   <br />
</span>
<span ng-show="item.chemical">
     Chemical
   <br />
</span>
<span ng-show="item.other_unknown">
     Other/unknown
   <br />
</span>
<span ng-show="item.weather_type">
    [[ item.weather_type ]]
   <br />
</span>
<span ng-show="item.other_cause">
    [[ item.other_cause ]]
   <br />
</span>
<span ng-show="item.coupled_to_another">
    [[ item.coupled_to_another ]]
   <br />
</span>
<span ng-show="item.specify_copled">
    [[ item.specify_copled ]]
   <br />
</span>