<span ng-show="item.ems_coordinating_centre_exists">
    [[ item.ems_coordinating_centre_exists ]]
   <br />
</span>
<span ng-show="item.ems_common_dialing_number">
    [[ item.ems_common_dialing_number ]]
   <br />
</span>
<span ng-show="item.ems_directly_declared">
    [[ item.ems_directly_declared ]]
   <br />
</span>
<span ng-show="item.basic_life_support_non_ems">
     Basic Life Support by EMS professional
   <br />
</span>
<span ng-show="item.non_physician_advanced_live_support">
     non-physician Advanced Life Support by EMS professional
   <br />
</span>
<span ng-show="item.life_support_on_scene_by_physician">
     Advanced Life Support by On-scene Physician
   <br />
</span>
<span ng-show="item.other">
    [[ item.other ]]
   <br />
</span>
<span ng-show="item.voluntary_organisations_available">
    [[ item.voluntary_organisations_available ]]
   <br />
</span>
<span ng-show="item.trauma_network">
    [[ item.trauma_network ]]
   <br />
</span>
<span ng-show="item.regional_trauma_hospitals">
     Are there any regional hospital/s with trauma specialty that exists within the EMS catchment system that was affected by the major incident?
   <br />
</span>
<span ng-show="item.pre_hospital_triage_system">
    [[ item.pre_hospital_triage_system ]]
   <br />
</span>
<span ng-show="item.pre_hospital_triage_regional">
    [[ item.pre_hospital_triage_regional ]]
   <br />
</span>
<span ng-show="item.regional_response_plan_including_all_emergency_services">
    [[ item.regional_response_plan_including_all_emergency_services ]]
   <br />
</span>