<span ng-show="item.updated">
  <span ng-show="item.one_common_number">
      [[ item.one_common_number ]]
     <br />
  </span>
  <span ng-show="item.directly_referred">
      [[ item.directly_referred ]]
     <br />
  </span>
  <span ng-show="item.voluntary">
      [[ item.voluntary ]]
     <br />
  </span>
  <span ng-show="item.authorisation_required">
      [[ item.authorisation_required ]]
     <br />
  </span>
  <span ng-show="item.trauma_centres">
      [[ item.trauma_centres ]]
     <br />
  </span>
  <span ng-show="item.trauma_units">
      [[ item.trauma_units ]]
     <br />
  </span>
  <span ng-show="item.hospital_without_trauma_specialty">
      [[ item.hospital_without_trauma_specialty ]]
     <br />
  </span>
  <span ng-show="item.triage_system">
      [[ item.triage_system ]]
     <br />
  </span>
  <span ng-show="item.which_triage_system">
      [[ item.which_triage_system ]]
     <br />
  </span>
  <span ng-show="item.different_system">
      [[ item.different_system ]]
     <br />
  </span>
  <span ng-show="item.different_system_description">
      [[ item.different_system_description ]]
     <br />
  </span>
</span>
