<span ng-show="item.updated">
  <span ng-show="item.date_time">
    [[ item.incident_occurs | shortDateTime ]]
    <br />
  </span>
  <span ng-show="item.cause_transport_industrial">
    Transport and industrial accident
    <br />
  </span>
  <span ng-show="item.cause_extreme_weather">
    Extreme weather
    <br />
  </span>
  <span ng-show="item.cause_fire">
    Fire
    <br />
  </span>
  <span ng-show="item.cause_mass_gathering">
    Mass Gathering
    <br />
  </span>
  <span ng-show="item.cause_explosive">
    Explosive
    <br />
  </span>
  <span ng-show="item.cause_industrial_accident">
    Industrial accident
    <br />
  </span>
  <span ng-show="item.cause_nuclear_radiological">
    Nuclear or radiological incident
    <br />
  </span>
  <span ng-show="item.cause_biological">
    Biological
    <br />
  </span>
  <span ng-show="item.cause_chemical">
    Chemical
    <br />
  </span>
  <span ng-show="item.cause_other">
    Other/unknown
    <br />
  </span>
  <span ng-show="item.specify_weather">
    [[ item.specify_weather ]]
    <br />
  </span>
  <span ng-show="item.specify_cause">
    [[ item.specify_cause ]]
    <br />
  </span>
  <span ng-show="item.coupled_to_another">
    [[ item.coupled_to_another ]]
    <br />
  </span>
  <span ng-show="item.specify_coupled">
    [[ item.specify_coupled ]]
    <br />
  </span>
  <span ng-show="item.location_urban">
    Urban area
    <br />
  </span>
  <span ng-show="item.location_rural">
    Rural/countryside area
    <br />
  </span>
  <span ng-show="item.location_maritime">
    Offshore/maritine (ocean, river, lake)
    <br />
  </span>
  <span ng-show="item.location_mountain">
    Mountain
    <br />
  </span>
  <span ng-show="item.location_road">
    Road
    <br />
  </span>
  <span ng-show="item.location_airport">
    Airport
    <br />
  </span>
  <span ng-show="item.location_education">
    Education facility
    <br />
  </span>
  <span ng-show="item.location_public">
    Public facility
    <br />
  </span>
  <span ng-show="item.location_healthcare">
    Health care facility
    <br />
  </span>
  <span ng-show="item.location_building">
    Building
    <br />
  </span>
  <span ng-show="item.location_gathering">
    Mass gathering
    <br />
  </span>
  <span ng-show="item.location_other">
    Other / unknown
    <br />
  </span>
  <span ng-show="item.specify_location">
    [[ item.specify_location ]]
    <br />
  </span>
</span>
