<span ng-show="item.incident_occurs">
    [[ item.incident_occurs | shortDateTime ]]
   <br />
</span>
<span ng-show="item.first_ems_call">
    [[ item.first_ems_call | shortDateTime ]]
   <br />
</span>
<span ng-show="item.first_ems_response">
    [[ item.first_ems_response | shortDateTime ]]
   <br />
</span>
<span ng-show="item.first_police_response">
    [[ item.first_police_response | shortDateTime ]]
   <br />
</span>
<span ng-show="item.first_fire_response">
    [[ item.first_fire_response | shortDateTime ]]
   <br />
</span>
<span ng-show="item.med_commander">
    [[ item.med_commander | shortDateTime ]]
   <br />
</span>
<span ng-show="item.safety_assessment_start">
    [[ item.safety_assessment_start | shortDateTime ]]
   <br />
</span>
<span ng-show="item.report_to_ems">
    [[ item.report_to_ems | shortDateTime ]]
   <br />
</span>
<span ng-show="item.resource_request">
    [[ item.resource_request | shortDateTime ]]
   <br />
</span>
<span ng-show="item.safety_action">
    [[ item.safety_action | shortDateTime ]]
   <br />
</span>
<span ng-show="item.delegation">
    [[ item.delegation | shortDateTime ]]
   <br />
</span>
<span ng-show="item.ems_officer_arrives">
    [[ item.ems_officer_arrives | shortDateTime ]]
   <br />
</span>
<span ng-show="item.ems_officer_commands">
    [[ item.ems_officer_commands | shortDateTime ]]
   <br />
</span>
<span ng-show="item.mi_declared">
    [[ item.mi_declared | shortDateTime ]]
   <br />
</span>
<span ng-show="item.summon_staff">
    [[ item.summon_staff | shortDateTime ]]
   <br />
</span>
<span ng-show="item.clearning_start">
    [[ item.clearning_start | shortDateTime ]]
   <br />
</span>
<span ng-show="item.hospital_informed">
    [[ item.hospital_informed | shortDateTime ]]
   <br />
</span>
<span ng-show="item.hospital_declares">
    [[ item.hospital_declares | shortDateTime ]]
   <br />
</span>
<span ng-show="item.first_patient_evacuated">
    [[ item.first_patient_evacuated | shortDateTime ]]
   <br />
</span>
<span ng-show="item.first_patient_arrives">
    [[ item.first_patient_arrives | shortDateTime ]]
   <br />
</span>
<span ng-show="item.medical_communication">
    [[ item.medical_communication | shortDateTime ]]
   <br />
</span>
<span ng-show="item.task_force_communication">
    [[ item.task_force_communication | shortDateTime ]]
   <br />
</span>
<span ng-show="item.last_patient_evacuated">
    [[ item.last_patient_evacuated | shortDateTime ]]
   <br />
</span>
<span ng-show="item.last_patient_arrives">
    [[ item.last_patient_arrives | shortDateTime ]]
   <br />
</span>
<span ng-show="item.mi_stand_down_ems">
    [[ item.mi_stand_down_ems | shortDateTime ]]
   <br />
</span>
<span ng-show="item.mi_stand_down_hospital">
    [[ item.mi_stand_down_hospital | shortDateTime ]]
   <br />
</span>