<span ng-show="item.surname">
    [[ item.surname ]]
   <br />
</span>
<span ng-show="item.first_name">
    [[ item.first_name ]]
   <br />
</span>
<span ng-show="item.middle_name">
    [[ item.middle_name ]]
   <br />
</span>
<span ng-show="item.email">
    [[ item.email ]]
   <br />
</span>
<span ng-show="item.role">
    [[ item.role ]]
   <br />
</span>
<span ng-show="item.title">
    [[ item.title ]]
   <br />
</span>
<span ng-show="item.birth_place">
    [[ item.birth_place ]]
   <br />
</span>