{% load forms %}
{% input  field="FirstEmergencyResponder.one_common_number"  %}
{% radio  field="FirstEmergencyResponder.directly_referred"  %}
{% textarea  field="FirstEmergencyResponder.voluntary"  %}
{% radio  field="FirstEmergencyResponder.authorisation_required"  %}
{% input  field="FirstEmergencyResponder.trauma_centres"  %}
{% input  field="FirstEmergencyResponder.trauma_units"  %}
{% input  field="FirstEmergencyResponder.hospital_without_trauma_specialty"  %}
{% input  field="FirstEmergencyResponder.triage_system"  %}
{% input  field="FirstEmergencyResponder.which_triage_system"  %}
{% radio  field="FirstEmergencyResponder.different_system"  %}
{% textarea  field="FirstEmergencyResponder.different_system_description"  %}
